--
-- PostgreSQL database dump
--

\restrict s7Ko0ffpjg0UcXBTGfGPJdIdUj1xOEMpHtHgLYwUuyegaOOe0FDATDerdpaIJFg

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id integer NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id integer NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id integer NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: notifications_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications_notification (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    type character varying(50) NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    event_id character varying(255)
);


ALTER TABLE public.notifications_notification OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rides_driverprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rides_driverprofile (
    id uuid NOT NULL,
    license_number character varying(50) NOT NULL,
    is_verified boolean NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.rides_driverprofile OWNER TO postgres;

--
-- Name: rides_location; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rides_location (
    id uuid NOT NULL,
    address character varying(255) NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    driver_id uuid,
    is_available boolean NOT NULL,
    last_updated timestamp with time zone NOT NULL,
    availability_status character varying(10) NOT NULL
);


ALTER TABLE public.rides_location OWNER TO postgres;

--
-- Name: rides_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rides_notification (
    id uuid NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    notification_type character varying(20) NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    event_id character varying(100)
);


ALTER TABLE public.rides_notification OWNER TO postgres;

--
-- Name: rides_ride; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rides_ride (
    id uuid NOT NULL,
    fare numeric(10,2),
    requested_at timestamp with time zone NOT NULL,
    completed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    driver_id uuid,
    drop_location_id uuid NOT NULL,
    passenger_id integer NOT NULL,
    pickup_location_id uuid NOT NULL,
    status_id uuid NOT NULL,
    vehicle_id uuid
);


ALTER TABLE public.rides_ride OWNER TO postgres;

--
-- Name: rides_ridestatus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rides_ridestatus (
    id uuid NOT NULL,
    code character varying(30) NOT NULL,
    name character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.rides_ridestatus OWNER TO postgres;

--
-- Name: rides_vehicle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rides_vehicle (
    id uuid NOT NULL,
    registration_number character varying(20) NOT NULL,
    model_name character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    driver_id uuid NOT NULL,
    vehicle_type_id uuid NOT NULL
);


ALTER TABLE public.rides_vehicle OWNER TO postgres;

--
-- Name: rides_vehicletype; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rides_vehicletype (
    id uuid NOT NULL,
    name character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.rides_vehicletype OWNER TO postgres;

--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO postgres;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id integer,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO postgres;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	rides	ridestatus
8	rides	driverprofile
9	rides	location
10	rides	vehicle
11	rides	ride
12	rides	vehicletype
13	rides	notification
14	notifications	notification
15	token_blacklist	blacklistedtoken
16	token_blacklist	outstandingtoken
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: notifications_notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications_notification (id, title, message, type, is_read, created_at, user_id, event_id) FROM stdin;
\.


--
-- Data for Name: rides_driverprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rides_driverprofile (id, license_number, is_verified, is_active, created_at, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: rides_location; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rides_location (id, address, latitude, longitude, created_at, driver_id, is_available, last_updated, availability_status) FROM stdin;
\.


--
-- Data for Name: rides_notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rides_notification (id, title, message, notification_type, is_read, created_at, updated_at, user_id, event_id) FROM stdin;
\.


--
-- Data for Name: rides_ride; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rides_ride (id, fare, requested_at, completed_at, created_at, updated_at, driver_id, drop_location_id, passenger_id, pickup_location_id, status_id, vehicle_id) FROM stdin;
\.


--
-- Data for Name: rides_ridestatus; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rides_ridestatus (id, code, name, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: rides_vehicle; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rides_vehicle (id, registration_number, model_name, is_active, created_at, updated_at, driver_id, vehicle_type_id) FROM stdin;
\.


--
-- Data for Name: rides_vehicletype; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rides_vehicletype (id, name, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: token_blacklist_blacklistedtoken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.token_blacklist_blacklistedtoken (id, blacklisted_at, token_id) FROM stdin;
\.


--
-- Data for Name: token_blacklist_outstandingtoken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.token_blacklist_outstandingtoken (id, token, created_at, expires_at, user_id, jti) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 43, true);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_notification_id_seq', 1, false);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.token_blacklist_blacklistedtoken_id_seq', 1, false);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.token_blacklist_outstandingtoken_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: notifications_notification notifications_notification_event_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notification_event_id_key UNIQUE (event_id);


--
-- Name: notifications_notification notifications_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notification_pkey PRIMARY KEY (id);


--
-- Name: rides_driverprofile rides_driverprofile_license_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_driverprofile
    ADD CONSTRAINT rides_driverprofile_license_number_key UNIQUE (license_number);


--
-- Name: rides_driverprofile rides_driverprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_driverprofile
    ADD CONSTRAINT rides_driverprofile_pkey PRIMARY KEY (id);


--
-- Name: rides_driverprofile rides_driverprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_driverprofile
    ADD CONSTRAINT rides_driverprofile_user_id_key UNIQUE (user_id);


--
-- Name: rides_location rides_location_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_location
    ADD CONSTRAINT rides_location_pkey PRIMARY KEY (id);


--
-- Name: rides_notification rides_notification_event_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_notification
    ADD CONSTRAINT rides_notification_event_id_key UNIQUE (event_id);


--
-- Name: rides_notification rides_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_notification
    ADD CONSTRAINT rides_notification_pkey PRIMARY KEY (id);


--
-- Name: rides_ride rides_ride_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_ride
    ADD CONSTRAINT rides_ride_pkey PRIMARY KEY (id);


--
-- Name: rides_ridestatus rides_ridestatus_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_ridestatus
    ADD CONSTRAINT rides_ridestatus_code_key UNIQUE (code);


--
-- Name: rides_ridestatus rides_ridestatus_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_ridestatus
    ADD CONSTRAINT rides_ridestatus_pkey PRIMARY KEY (id);


--
-- Name: rides_vehicle rides_vehicle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_vehicle
    ADD CONSTRAINT rides_vehicle_pkey PRIMARY KEY (id);


--
-- Name: rides_vehicle rides_vehicle_registration_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_vehicle
    ADD CONSTRAINT rides_vehicle_registration_number_key UNIQUE (registration_number);


--
-- Name: rides_vehicletype rides_vehicletype_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_vehicletype
    ADD CONSTRAINT rides_vehicletype_name_key UNIQUE (name);


--
-- Name: rides_vehicletype rides_vehicletype_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_vehicletype
    ADD CONSTRAINT rides_vehicletype_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: notifications_notification unique_notification_event; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT unique_notification_event UNIQUE (event_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: notifications_notification_user_id_b5e8c0ff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_notification_user_id_b5e8c0ff ON public.notifications_notification USING btree (user_id);


--
-- Name: rides_drive_is_veri_6d4758_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_drive_is_veri_6d4758_idx ON public.rides_driverprofile USING btree (is_verified, is_active);


--
-- Name: rides_drive_license_724f29_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_drive_license_724f29_idx ON public.rides_driverprofile USING btree (license_number);


--
-- Name: rides_driverprofile_license_number_b0cf0481_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_driverprofile_license_number_b0cf0481_like ON public.rides_driverprofile USING btree (license_number varchar_pattern_ops);


--
-- Name: rides_locat_is_avai_5ab530_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_locat_is_avai_5ab530_idx ON public.rides_location USING btree (is_available, availability_status);


--
-- Name: rides_locat_latitud_a667a5_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_locat_latitud_a667a5_idx ON public.rides_location USING btree (latitude, longitude);


--
-- Name: rides_location_driver_id_ddafb82a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_location_driver_id_ddafb82a ON public.rides_location USING btree (driver_id);


--
-- Name: rides_notif_notific_d85800_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_notif_notific_d85800_idx ON public.rides_notification USING btree (notification_type);


--
-- Name: rides_notif_user_id_4ce912_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_notif_user_id_4ce912_idx ON public.rides_notification USING btree (user_id, is_read);


--
-- Name: rides_notif_user_id_627fe9_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_notif_user_id_627fe9_idx ON public.rides_notification USING btree (user_id, created_at);


--
-- Name: rides_notification_event_id_8b35fb4d_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_notification_event_id_8b35fb4d_like ON public.rides_notification USING btree (event_id varchar_pattern_ops);


--
-- Name: rides_notification_user_id_6fcde4fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_notification_user_id_6fcde4fb ON public.rides_notification USING btree (user_id);


--
-- Name: rides_ride_driver__de79ab_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_ride_driver__de79ab_idx ON public.rides_ride USING btree (driver_id, status_id);


--
-- Name: rides_ride_driver_id_c11786fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_ride_driver_id_c11786fb ON public.rides_ride USING btree (driver_id);


--
-- Name: rides_ride_drop_location_id_dbf5da08; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_ride_drop_location_id_dbf5da08 ON public.rides_ride USING btree (drop_location_id);


--
-- Name: rides_ride_passeng_5e3e7b_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_ride_passeng_5e3e7b_idx ON public.rides_ride USING btree (passenger_id, status_id);


--
-- Name: rides_ride_passeng_c45f16_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_ride_passeng_c45f16_idx ON public.rides_ride USING btree (passenger_id, created_at DESC);


--
-- Name: rides_ride_passenger_id_280a3f14; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_ride_passenger_id_280a3f14 ON public.rides_ride USING btree (passenger_id);


--
-- Name: rides_ride_pickup_location_id_2c6199f2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_ride_pickup_location_id_2c6199f2 ON public.rides_ride USING btree (pickup_location_id);


--
-- Name: rides_ride_status__8f6a42_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_ride_status__8f6a42_idx ON public.rides_ride USING btree (status_id, created_at);


--
-- Name: rides_ride_status_id_4560c0df; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_ride_status_id_4560c0df ON public.rides_ride USING btree (status_id);


--
-- Name: rides_ride_vehicle_id_2657f5e5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_ride_vehicle_id_2657f5e5 ON public.rides_ride USING btree (vehicle_id);


--
-- Name: rides_ridestatus_code_6130777b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_ridestatus_code_6130777b_like ON public.rides_ridestatus USING btree (code varchar_pattern_ops);


--
-- Name: rides_vehic_driver__1ee162_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_vehic_driver__1ee162_idx ON public.rides_vehicle USING btree (driver_id);


--
-- Name: rides_vehic_is_acti_96ffdd_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_vehic_is_acti_96ffdd_idx ON public.rides_vehicle USING btree (is_active);


--
-- Name: rides_vehic_name_8b6679_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_vehic_name_8b6679_idx ON public.rides_vehicletype USING btree (name);


--
-- Name: rides_vehic_vehicle_d78590_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_vehic_vehicle_d78590_idx ON public.rides_vehicle USING btree (vehicle_type_id);


--
-- Name: rides_vehicle_driver_id_1e1397d4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_vehicle_driver_id_1e1397d4 ON public.rides_vehicle USING btree (driver_id);


--
-- Name: rides_vehicle_registration_number_281d7746_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_vehicle_registration_number_281d7746_like ON public.rides_vehicle USING btree (registration_number varchar_pattern_ops);


--
-- Name: rides_vehicle_vehicle_type_id_5478b470; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_vehicle_vehicle_type_id_5478b470 ON public.rides_vehicle USING btree (vehicle_type_id);


--
-- Name: rides_vehicletype_name_b15fbb55_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rides_vehicletype_name_b15fbb55_like ON public.rides_vehicletype USING btree (name varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_notification notifications_notification_user_id_b5e8c0ff_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notification_user_id_b5e8c0ff_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rides_driverprofile rides_driverprofile_user_id_16cf51de_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_driverprofile
    ADD CONSTRAINT rides_driverprofile_user_id_16cf51de_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rides_location rides_location_driver_id_ddafb82a_fk_rides_driverprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_location
    ADD CONSTRAINT rides_location_driver_id_ddafb82a_fk_rides_driverprofile_id FOREIGN KEY (driver_id) REFERENCES public.rides_driverprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rides_notification rides_notification_user_id_6fcde4fb_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_notification
    ADD CONSTRAINT rides_notification_user_id_6fcde4fb_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rides_ride rides_ride_driver_id_c11786fb_fk_rides_driverprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_ride
    ADD CONSTRAINT rides_ride_driver_id_c11786fb_fk_rides_driverprofile_id FOREIGN KEY (driver_id) REFERENCES public.rides_driverprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rides_ride rides_ride_drop_location_id_dbf5da08_fk_rides_location_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_ride
    ADD CONSTRAINT rides_ride_drop_location_id_dbf5da08_fk_rides_location_id FOREIGN KEY (drop_location_id) REFERENCES public.rides_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rides_ride rides_ride_passenger_id_280a3f14_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_ride
    ADD CONSTRAINT rides_ride_passenger_id_280a3f14_fk_auth_user_id FOREIGN KEY (passenger_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rides_ride rides_ride_pickup_location_id_2c6199f2_fk_rides_location_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_ride
    ADD CONSTRAINT rides_ride_pickup_location_id_2c6199f2_fk_rides_location_id FOREIGN KEY (pickup_location_id) REFERENCES public.rides_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rides_ride rides_ride_status_id_4560c0df_fk_rides_ridestatus_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_ride
    ADD CONSTRAINT rides_ride_status_id_4560c0df_fk_rides_ridestatus_id FOREIGN KEY (status_id) REFERENCES public.rides_ridestatus(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rides_ride rides_ride_vehicle_id_2657f5e5_fk_rides_vehicle_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_ride
    ADD CONSTRAINT rides_ride_vehicle_id_2657f5e5_fk_rides_vehicle_id FOREIGN KEY (vehicle_id) REFERENCES public.rides_vehicle(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rides_vehicle rides_vehicle_driver_id_1e1397d4_fk_rides_driverprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_vehicle
    ADD CONSTRAINT rides_vehicle_driver_id_1e1397d4_fk_rides_driverprofile_id FOREIGN KEY (driver_id) REFERENCES public.rides_driverprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rides_vehicle rides_vehicle_vehicle_type_id_5478b470_fk_rides_vehicletype_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides_vehicle
    ADD CONSTRAINT rides_vehicle_vehicle_type_id_5478b470_fk_rides_vehicletype_id FOREIGN KEY (vehicle_type_id) REFERENCES public.rides_vehicletype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_auth_user FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict s7Ko0ffpjg0UcXBTGfGPJdIdUj1xOEMpHtHgLYwUuyegaOOe0FDATDerdpaIJFg

